h1, h2, h3, h4, footer{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  background: #60ac63;
  margin: 10px;
}

p {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: normal;
}

body{
  background-color: #d87541;
}

header{
  text-align: center;
  border: 10px solid;
  border-image: url("https://i.imgur.com/1sDaZcG.png") 30 round;
  background: #60ac63; 
  padding: 5px;
  margin: 5px;
}

h1 {
  display: inline-block;
  font-size: 3rem;
  color: #003c00;
  margin: 0%;
}

h4{
  display: inline-block;
  color: #18271a;
  margin: 0%;
  padding: 0%;
}

section{
  text-align: center;
  background: #60ac63; 
  color: #18271a;
  margin: 5px;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  border: 10px solid;
  border-image: url("https://i.imgur.com/1sDaZcG.png") 30 round;
}

summary{
  background: #d87541; 
  padding: 10px;
}

p.bold{
  font-weight: bold;
}

summary.special{
  background: #60ac63;
  border: 2px solid #d87541;
  font-size: 22px;
}

details{
  border: 2px solid #d87541;
  background: #60ac63; 
  color: #18271a;
  margin: 5px;
  padding: 10px;
  font-size: 18px;
  font-family:Arial, Helvetica, sans-serif;

}

.bordes{
  font-weight: bold;
  font-size: 20px;
  border: 10px solid;
  border-image: url("https://i.imgur.com/1sDaZcG.png") 30 round;
}

.element {
  display: inline-block;
  width: 300px;
  height: 280px;
  background: #60ac63; 
  border: 15px solid #d87541;
  text-align: center;
  color: #18271a;
  margin: 5px;
  border-image: url("https://i.imgur.com/1sDaZcG.png") 30 round;
}

div{
  text-align: center;
}

input {
  font-size: 17.5px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
  background-color: #f0f0f0;
  padding: 2px 15px;
}


.traduccion{
  background-color: #59a55c;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border: 2px solid #d87541;
  font-weight: bold;
}

footer{
  border: 10px solid;
  border-image: url("https://i.imgur.com/1sDaZcG.png") 30 round;
  font-size: 30px;
  margin: 5px;
  padding: 7px;
}
-------
button:hover, button:active {
  background-color: gray;
  color: white;
  text-align: center;
  color: #18271a;
}

a:link, a:visited {
  background-color: #d87541;
  color: black;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  border: 2px solid black;  
}

a:hover, a:active {
  background-color: #d87541;
  color: white;
}

.collapsible {
  background-color: #d87541;
  color: #ccffe2;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  text-align: center;
  border: 6px #ffcc01;
}

.active, .collapsible:hover {
  background-color: #d87541;
  font-size: 25px;
  text-align: center;

}
.collapsible {
  background-color: #950536;
  color: #ccffe2;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 25px;
  border: 10px solid;
  border-image: url("https://i.imgur.com/1sDaZcG.png") 30 round;
}

.active, .collapsible:hover {
  background-color: #046322;
  font-size: 26px;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #d87541;
}



-----
